.cw__navbar
{
    align-items: center;
    padding: 2rem 10rem;
    @media screen and (max-width: 900px){
        padding: 1rem 2rem;
    }
    p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 800;
            font-size: 17px;
            line-height: 21px;
            color: var(--color-text);
    :hover{
        color: var(--color-accent)
    }
    }   

    .cw__navbar-links{
        display: flex;
        align-items: center;
        justify-content: space-around;

    .cw__navbar-links_logo{
        display: flex;
        flex: 0.30;
        @media screen and (max-width: 900px){
            flex: 1;
        }
    }
    .cw__navbar-links_container{
        display: flex;
        flex: 1;
        justify-content: space-around;
        @media screen and (max-width: 900px){
            display: none;
        }
    }
    .cw__navbar-links_menu{
        color: #ffff;
        position: relative;
        font-size: 25px;
        display: none;
        
        @media screen and (max-width: 900px){
            display: flex;
        }
        :hover{
            color: var(--color-accent)
        }
        .cw__navbar-links_box{
            position: absolute;
            top: 40px;
            right: 0px;
            flex-direction: column;
            padding: 1rem;
            border: 1px solid white;
            background-color: var(--color-bg);
        z-index: 100;
            p{
                margin: 5px;
            }
        }
        .open{
            display: flex;
        }
        .closed{
            display: none;
        }
    }
}
}