@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit:wght@300&display=swap');


:root {
  --font-family: 'Outfit', sans-serif;
  
  --color-bg: #000235;
  --color-accent : #F39036;
  
  --color-bar: rgba(14, 22, 72, 0.47);;
  --color-border: rgba(255, 255, 255, 0.7);;
  
  --color-text: #FFFFFF;
  --color-subtext: #6157E0;
}